<div class="navbar__links">
    <a class="navbar__link contact-us" href="#">
    <div class="icon icon-contattaci2"></div>
    <p class="text--label">CONTACT US</p>
    </a>
    <a class="navbar__link iconCalendar" href="#">
    <div class="icon icon-calendar"></div>
    <p class="text--label">CALENDAR</p>
    </a>
    <a class="navbar__link worldwide" href="#">
    <div class="icon icon-estero2"></div>
    <p class="text--label">WORLDWIDE</p>
    </a>
    <a class="navbar__link search">
    <div class="icon icon-search"></div>
    <p class="search__text text--label">SEARCH</p>
    </a>
</div>