<footer class="footer ucg-icons__newPackage">
  <div class="footer__wrap container">
    <div class="footer__upper">
      <div data-sly-resource="${'footernavigationcomponent' @ resourceType='ucs-exercise-christian/components/content/footernavigationlinks'}"></div>
      <div data-sly-resource="${'footersubnavigationcomponent' @ resourceType='ucs-exercise-christian/components/content/footersubnavigationlinks'}"></div>
    </div>
    <div class="footer__bottom">
      <div data-sly-resource="${'footerleftcorner' @resourceType='/apps/ucs-exercise-christian/components/content/footerleftcorner'}"></div>
      <div class="footer__col">
        <div data-sly-resource="${'footersocial' @ resourceType='ucs-exercise-christian/components/content/footersocial'}"></div>
        <div data-sly-resource="${'footerrightcorner' @ resourceType='ucs-exercise-christian/components/content/footerrightcorner'}"></div>
      </div>
    </div>
  </div>
</footer>