<footer class="footer ucg-icons__newPackage">
  <div class="footer__wrap container">
    <div class="footer__upper">
    <div data-sly-resource="${'footernavigationcomponent' @ resourceType='ucs-exercise-christian/components/content/footernavigationlinks'}"></div>
      <div class="footer__lastLink">
        <a href="#" class="footer__link">General Company Info</a>
        <a href="#" class="footer__link">Disclaimer</a>
        <a href="#" class="footer__link">Privacy</a>
        <a href="#" class="footer__link">SDIR and Storage</a>
        <a href="#" class="footer__link">AML and Patriot ACT</a>
        <a href="#" class="footer__link">Cookies</a>
        <a href="#" class="footer__link">PSD2 - Open Banking</a>
        <a href="#" class="footer__link">Alerts</a>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__col">
        <img class="footer__logo" src="/etc.clientlibs/ucs-exercise-christian/clientlibs/clientlib-base/resources/basics-logo-negative.svg" />
        <div class="footer__copy">
          © 20XX – 20XX UniCredit S.p.A. - All Rights reserved
        </div>
      </div>
      <div class="footer__col">
        <div class="footer__socials">
          <a href="#">
            <span class="icon-twitter"></span>
          </a>
          <a href="#">
            <span class="icon-linkedin"></span>
          </a>
          <a href="#">
            <span class="icon-youtube"></span>
          </a>
        </div>
        <div class="footer__utils">
          <a href="#">Lorem ipsum</a>
          <a href="#">Lorem ipsum</a>
        </div>
      </div>
    </div>
  </div>
</footer>