<header class="header ucg-icons__newPackage">
    <nav class="navbar container-fixed">
      <div class="navbar__zero-level">
        <a class="navbar__logo" href="#">
            <sly data-sly-resource="${'logo' @resourceType='/apps/ucs-exercise-christian/components/content/logo'}"
        ></sly>
        </a>
        <div data-sly-resource="${'headertopnav' @resourceType='/apps/ucs-exercise-christian/components/content/headertopnav'}"
        ></div>
        <a class="navbar__entry-point" href="#">
          <div class="icon icon-online-Banking_A"></div>
          <div class="entry-point__text text--label">ONLINE BANKING</div>
        </a>
      </div>

      <sly data-sly-include="../headermainnav/headermainnav.html"></sly>
    </nav>
    <div class="hamburger">
      <div class="icon"></div>
    </div>
    <!-- ******************* START SEARCH OVERLAY  COMPONENT ******************* -->
    <aside class="ucg-search">
      <div class="ucg-search__wrap">
        <span class="ucg-search--close icon icon-close"></span>
        <div class="panel ucg_search">
          <div class="container">
            <input class="findAsYouType" type="text" name="querySearch"
              data-resultspage="/content/unicreditgroup-eu/it/search.html" placeholder="Typing" data-threshold="3"
              data-lang="it" />
            <span class="icon icon-search"></span>
          </div>
        </div>
      </div>
    </aside>
    <!-- ******************* END OF SEARCH OVERLAY COMPONENT ******************* -->
  </header>